<%- include("header") -%>
    <h2>this is about page</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque placeat autem explicabo temporibus sed vero
        eveniet,
        accusamus, minima maxime aspernatur molestias facilis nulla earum aut iusto. Perspiciatis fugiat ad unde.</p>
    <%- include("footer") -%>